<!doctype html>
<html lang="en">
<head>
    <style>
        .msg {
            font-size: 90px;
            font-weight: bold;
            font-family: 'Verdana', sans-serif;
            background: linear-gradient(to right, #7927b2, #fb3182);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            line-height: .77;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <p class="msg">
        HI!!
    </p>
</div>
</body>
</html>