{% load static %}
<!DOCTYPE html>
<html>

<head>
    <style>
        .animate-charcter {
            text-transform: uppercase;
            background-image: linear-gradient(
                    -225deg,
                    #231557 0%,
                    #44107a 29%,
                    #ff1361 67%,
                    #fff800 100%
            );
            text-align: center;
            background-size: auto auto;
            background-clip: border-box;
            background-size: 200% auto;
            color: #fff;
            background-clip: text;
            text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: textclip 2s linear infinite;
            display: inline-block;
            font-size: 190px;
        }

        @keyframes textclip {
            to {
                background-position: 200% center;
            }
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - HARSHA</title>
    <link rel="stylesheet" href="{% static 'AIWeb/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
    <div class="container"><a class="navbar-brand" href="#">HARSHA</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about"> Know me</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<header class="text-center text-white masthead">
    <div class="masthead-content">

        <div class="container">
            <h1 class="masthead-heading mb-0">Harsha Vardhan</h1>
            <h2 class="masthead-subheading mb-0">Engineer</h2>
            <br>
            <a class="btn" href="#about">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                     class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
<section id="about">
    <div class="container">
        <br>
        <div class="row align-items-center">
            <h1 class="animate-charcter py-4 my-4">
                Know me
            </h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="{% static 'AIWeb/img/NarutoUzumaki.jpg' %}">
                </div>
            </div>

            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Schooling</h2>
                    <br>
                    <ul>
                        <li><h6>Viswa Bharathi , Srikalahasthi - Till 4th</h6></li>
                        <li><h6>The school , Srikalahasthi - 5th class</h6></li>
                        <li><h6>
                            Avr , Srikalahasthi - 6th class
                        </h6></li>
                        <li><h6>
                            Keshava reddy , Tirupathi - 7th,8th class
                        </h6>
                        </li>
                        <li><h6>
                            Srichaitanya ,Tirupathi - 9th class
                        </h6>
                        </li>
                        <li><h6>
                            Srichaitanya , Srikalahasthi - 10th class
                        </h6>
                        </li>
                    </ul>
                    <br>
                    <h1>
                        Score
                    </h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 90%"
                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5"><img class="rounded-circle img-fluid"
                                      src="{% static 'AIWeb/img/Ben10AlienForce.jpg' %}" style="height: 600px"></div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <h2 class="display-4">Intermediate</h2>
                    <ul>
                        <li><h6>1st year - NRI Avilala campus , tirupathi</h6></li>
                        <li><h6>2nd year - NRI New balaji nagar campus , tirupathi</h6></li>
                    </ul>
                    <br>

                    <h1>
                        Score
                    </h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 87%"
                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="{% static 'AIWeb/img/4thHokage.png' %}"
                                      style="opacity: 1;filter: brightness(100%) contrast(124%);"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Graduation</h2>
                    <ul>
                        <li><h6>RMKCET Puduvoyal </h6></li>
                    </ul>
                    <br>

                    <h1>
                        Semster 1
                    </h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 73%"
                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h1>
                        Semster 2
                    </h1>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 76%"
                             aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="py-5 bg-black">
    <div class="container">
        <p class="text-center text-white m-0 small">Copyright&nbsp;© HARSHA 2022</p>
    </div>
</footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>