{% extends 'devpage/base.html' %}
{% load static %}
{% block aboutActive %}
    btn-warning
{% endblock %}
{% block aboutText %}
    text-black
{% endblock %}
{% block content %}
    <style>
        /* skills css */
        .box {
            width: 100%;
        }

        .box h2 {
            display: block;
            text-align: center;
            color: #171515;
        }

        .box .chart {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 40px;
            line-height: 160px;
            height: 160px;
            color: #c92424;
        }


        /* skills css end */

        .scroller {
            height: 1.2em;
            line-height: 1.2em;
            position: relative;
            overflow: hidden;
            width: 10em;
        }

        .scroller > span {
            position: absolute;
            top: 0;
            animation: slide 5s infinite;
            font-weight: bold;

        }

        @keyframes slide {
            0% {
                top: 0;
            }
            25% {
                top: -1.2em;
            }
            50% {
                top: -2.4em;
            }
            75% {
                top: -3.6em;
            }
        }

    </style>
    <header class="text-center text-white masthead">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Harsha Vardhan</h1>
                <!--h2 class="masthead-subheading mb-0">Engineer</h2-->
                <div class="scroller masthead-subheading mb-0">
                    <span>
                        Engineer<br/>
                        Student<br/>
                        Developer<br/>
                        Techie<br/>
                    </span>
                </div>
                <br>
                <!--a class="btn" href="#about">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                         class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                    </svg>
                </a-->
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section id="about">
        <div class="container">
            <br>
            <div class="row align-items-center">
                <h1 class="animate-charcter py-5 my-5">
                    Know me
                </h1>
                <h1 class="text-center" style="font-family: Courier">
                    Education
                </h1>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid"
                                          src="{% static 'devpage/img/NarutoUzumaki.jpg' %}">
                    </div>
                </div>

                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4" style="font-family: inherit">Schooling</h2>
                        <br>
                        <ul>
                            <li><h6>Viswa Bharathi , Srikalahasthi - Till 4th</h6></li>
                            <li><h6>The school , Srikalahasthi - 5th class</h6></li>
                            <li><h6>
                                Avr , Srikalahasthi - 6th class
                            </h6></li>
                            <li><h6>
                                Keshava reddy , Tirupathi - 7th,8th class
                            </h6>
                            </li>
                            <li><h6>
                                Srichaitanya ,Tirupathi - 9th class
                            </h6>
                            </li>
                            <li><h6>
                                Srichaitanya , Srikalahasthi - 10th class
                            </h6>
                            </li>
                        </ul>
                        <br>
                        <h1>
                            Score
                        </h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                 role="progressbar"
                                 style="width: 90%"
                                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="img-fluid"
                                          src="{% static 'devpage/img/kakashi-hatake.png' %}"
                                          style="height: 600px ; border-radius: 0">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4" style="font-family: inherit">Intermediate</h2>
                        <ul>
                            <li><h6>1st year - NRI Avilala campus , tirupathi</h6></li>
                            <li><h6>2nd year - NRI New balaji nagar campus , tirupathi</h6></li>
                        </ul>
                        <br>

                        <h1>
                            Score
                        </h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
                                 role="progressbar" style="width: 87%"
                                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class=" img-fluid"
                                          src="{% static 'devpage/img/minato.png' %}"
                                          style="opacity: 1;filter: brightness(100%) contrast(124%);"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4" style="font-family: inherit">B.Tech - AI</h2>
                        <ul>
                            <li><h6>RMKCET Puduvoyal </h6></li>
                        </ul>
                        <br>

                        <h1>
                            Semster 1
                        </h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
                                 role="progressbar" style="width: 73%"
                                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <h1>
                            Semster 2
                        </h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
                                 role="progressbar" style="width: 76%"
                                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <br>
                        <h1>
                            Semster 3
                        </h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
                                 role="progressbar" style="width: 85%"
                                 aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h1 class="text-center my-5" style="font-family: Courier">
            Programming Languages
        </h1>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"
                charset="utf-8"></script>
        <div class="container my-5">
            <div class="row text-center">
                <div class="box col">
                    <div class="chart" data-percent="87"></div>
                    <h2>Python</h2>
                </div>
                <div class="box col">
                    <div class="chart" data-percent="80"></div>
                    <h2>C</h2>
                </div>
                <div class="box col">
                    <div class="chart" data-percent="75"></div>
                    <h2> Java</h2>
                </div>
                <div class="box col">
                    <div class="chart" data-percent="65"></div>
                    <h2>C++</h2>
                </div>
                <div class="box col">
                    <div class="chart" data-percent="40"></div>
                    <h2>Bash</h2>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.chart').easyPieChart({
                    size: 160,
                    barColor: "#36e617",
                    scaleLength: 0,
                    lineWidth: 15,
                    trackColor: "#525151",
                    lineCap: "circle",
                    animate: 2000,
                });
            });
        </script>
    </section>
    <section>
        <h1 class="text-center my-5" style="font-family: Courier">
            Pinned Projects
        </h1>
        <div class="container">
            <div class="row justify-content-center align-items-center text-center mx-auto ">
                {% for project in Projects %}
                    <div class="col-md-4 py-2  d-flex justify-content-center">
                        <div class="card shadow-sm">
                            <img src="{{ project.projectTemplate.url }}" height="225" width="100%">
                            <div class="card-body">
                                <h6 class="text-center">
                                    {{ project.projectTitle }}
                                </h6>
                                <p class="card-text">{{ project.desc }}</p>
                                <span class="badge rounded-pill bg-{{ project.tags.color }} mb-3">{{ project.tags.text }}</span>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-warning btn-outline-secondary"><a
                                                href="{% url 'projects' %}" target="_blank" type="button"
                                                class="btn">View</a></button>
                                    </div>
                                    <small class="text-muted">{{ project.created_at }}</small>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <h1 class="text-center">
            <button class="btn btn-danger">
                View All
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </button>
        </h1>
    </section>
    <br>
    <section>
    <div class="text-center">
        <h3 class="my-5">
            Under Construction .... Feel free to contribute visit github for more info
        </h3>
    </div>
    </section>
{% endblock %}
